{%extends 'base.html'%}

{% block content %}

<div class="container">
        <div class="form-group col-3">
        <form action="{% url 'cal:event_new' %}" method="POST">
            {% csrf_token %}
            <table class = "table">
                <tr>
                    <td>제목</td>
                    <td><h2>{{ plan.title }}</h2></td>
                </tr>
                <tr>
                    <td>날짜</td>
                    <td>{{ plan.date }}</td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td>{{plan.context}}</td>
                </tr>
            </table>
            <br>
            <a class="btn btn-light right " href="{% url 'cal:event_edit' plan.pk %}"> 수정 </a>
            <a class="btn btn-light right" href="{% url 'cal:event_delete' plan.pk %}"> 삭제 </a>
        </form>
        </div>
    </div>
{% endblock %}