{% extends 'cal/base.html' %}

{% block title %}
Event
{% endblock %}

{% block content %}
<div class = "container">
    <h1>전체 일정 확인하기</h1><br><br>
    {% for plan in plans.all %}
        <div class="container">
            <h3>{{ plan.title }}</h3>
            <p>{{ plan.start_time }}</p>
            <p>{{ plan.description }}</p>
        </div>
    {% endfor %}
    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'cal:calendar' %}"> Calendar </a>
    </div>
</div>
{% endblock %}