{% extends 'base.html' %}
{% block content %}
<style>
  .table {
    border: 1px solid #D0C3B4;
  }

  .pagination-container {
    display: flex;
    justify-content: center;
  }

  a {
    margin: 5px;
  }

  .container2 {
    display: flex;
    flex-direction: row;
    float: right;
  }

  select {

    height: 30px;
    padding: 4px;
    position: relative;
    top: 3px;

    border-radius: 10px;
    border-color: #D0C3B4;
    border-width: 2px;
  }

  select:focus,
  select.option:hover {
    outline: none;
  }

  input {
    border-radius: 8px;
    border-color: #D0C3B4;
    border-width: 2px;
  }

  input:focus {
    outline: none;
  }

  @media (max-width: 800px) {
    .btn {
      position: relative;
      top: 10px;
      width: 80px;
      height: 40px;
    }

    /*#new{
      position: relative;
      top: 40px;
    }*/
  }
</style>

<div class="container">
  <br><br>
  <div>
    <select id="sort-select" onchange="location = this.value;">
      <option class="sort-date" value="?sort-date/">최신순</option>
      <option class="sort-likes" value="?sort=likes">좋아요순</option>
      {% if user.is_authenticated %}
      <option class="sort-mypost" value="?sort=mypost">내가쓴글</option>
      {% endif %}

      <script type="text/javascript"> // 선택한 셀렉트 유지하기 위한 scripts
        var getUrlParameter = function getUrlParameter(sParam) {
          var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

          for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : sParameterName[1];
            }
          }
        };
        // 정렬 방식 셀렉트 유지
        $(document).ready(function () {
          var sort = getUrlParameter('sort');
          if (sort == 'likes') {
            $('.sort-likes').prop('selected', 'selected')
          } else if (sort == 'mypost') {
            $('.sort-mypost').prop('selected', 'selected')
          } else {
            $('.sort-date').prop('selected', 'selected')
          }
        });
      </script>

    </select>
  </div><br>
  <table class="table table-bordered text-center">
    <thead class="thead-light">
      <tr>
        <th style="background-color: #D0C3B4;" width="10%">번호</th>
        <th style="background-color: #D0C3B4;" width="30%">제목</th>
        <th style="background-color: #D0C3B4;" width="20%">작성자</th>
        <th style="background-color: #D0C3B4;" width="20%">등록일</th>
        <th style="background-color: #D0C3B4;" width="10%">좋아요</th>
        <th style="background-color: #D0C3B4;" width="10%">조회수</th>
      </tr>
    </thead>
    <tbody>

      {% for board in posts %}
      <tr>
        <td>{{board.id }} </td>
        <td><a href="{% url 'detail' board.id %}"
            title="{{board.summary}}">{{board.summary_title}}({{ board.comments.count }})</a></td>
        <td>{{ board.author }}</td>
        <td>{{ board.pub_date|date:'bj일 f' }}</td>
        <td>{{ board.like_users.count }}</td>
        <td>{{ board.hits }} </td>

      </tr>

      {%endfor%}

      {% if object_list %}
      {% for board in object_list %}
      <tr>
        <td>{{board.id }} </td>
        <td><a href="{% url 'detail' board.id %}"
            title="{{board.summary}}">{{board.title}}({{ board.comments.count }})</a>
        </td>
        <!--
                <h2><a href="{{post.get_absolute_url}}">{{ post.title }}</a></h2>
                {{ post.created_at|date:'N d, Y' }}
          -->
        <td>{{ board.author }}</td>
        <td>{{ board.pub_date|date:'bj일 f' }}</td>
        <td>{{ board.like_users.count }} </td>
        <td>{{ board.hits }} </td>
      </tr>
      {% endfor %}
      {% elif search_term %}
      <!--
          {{ search_term }}을 찾을 수 없습니다.
        -->
      {% endif %}

    </tbody>
  </table>


  <!--pagenation-->
  <div class="pagination-container">
    {% if board_list.has_other_pages %}

    <ul class="pagination">

      {% if board_list.has_previous %}
      <li><a href="?page={{ board_list.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %}

      {% if board_list.number > 2 %}
      <li><a href="?page={{ 1 }}"> 1 </a></li>
      <li><span>...<span class="sr-only">...</span></span></li>
      {% endif %}

      {% for i in page_range %}
      {% if board_list.number == i %}
      <li class="active"><span style="margin:5px; color:#D0C3B4">{{ i }} <span class="sr-only"
            style="margin:5px;">(current)</span></span></li>
      {% else %}
      <li><a href="?page={{ i }}"> {{ i }}</a></li>
      {% endif %}
      {% endfor %}

      {% if board_list.number < max_index %}
      <li><span>...<span class="sr-only">...</span></span></li>
      <li><a href="?page={{ max_index|add:'2' }}"> {{ max_index|add:"2" }}</a></li>
      {% endif %}

      {% if board_list.has_next %}
      <li><a href="?page={{ board_list.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
      {%endif %}
    </ul>

    {%endif%}
  </div>




  <div class="container2">
    <!-- 검색기능 -->
    <form action="{% url 'search' %}" method="POST" style="float: right">
      {% csrf_token %}
      <table>
        <tr>
          <td>
            <input type="text" name="search_word" required id="id_search_word">
            <input class="btn btn-outline-light" type="submit" value="검색하기">


          </td>
        </tr>
      </table>
    </form>


    &nbsp;&nbsp;
    <!-- 글쓰기 -->
    <a id="new" class="btn btn-outline-light right" href="{% url 'new' %}" title="{{board.body}}"
      style="float: right; margin:0;">글쓰기</a>
  </div>


</div>
<!-- 메시지 출력 -->
{% if messages %}
<div class="messages">
  {% for message in messages %}
  <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
    {{ message.message }}
  </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}