{%extends 'base.html'%}

{% block content %}

<style>
     .like-button {
            display: inline-block;
            position: relative;
            font-size: 15px;
            cursor: pointer;
            float: left;
        }

    <div class="container">

        <div class="card" style="width: 75rem;">

            <div class="card-body" style="border:3px solid #D0C3B4; ">


</style>




<center>
    <br><br><br><br>

    <div class="container">

        <div class="card" style="width: 75rem;">

            <div class="card-body" style="border:3px solid #D0C3B4; ">

                <h5 class="card-title"> <i class="material-icons"><a href="board.html"></a>제목: {{details.title}}</h5>
                
                <!-- 조회수 증가 -->
                작성일: {{details.pub_date}} <br>
                작성자: {{details.}} <br>
                조회수: {{ details.hits }} <br>
                
                <p class="card-text">내용: {{details.context}}</p>

                <img src="{{ details.image.url }}" alt="사진 불러오기 오류">

                <br>
                <hr style="color:#D7CEBF">
                <!--하트 버튼-->
                <button class="like-button"></button>

                
                
                
                <div class="clearfix">
                    
                    <a class="btn btn-light right" href="{% url 'delete' details.id %}"> Delete </a>
                    <a class="btn btn-light right" href="{% url 'update' details.id %}"> Edit </a>

                    <a class="btn btn-light right" href="{%url 'board'%}">게시판으로</a>

                </div>
            </div>



            <hr>
            <form action="{% url 'comment_write' details.id%}" method="POST">
                {% csrf_token %}
                <input type="text" name="content" placeholder="댓글을 입력해주세요.">
                <input type="submit" value="확인">
            </form>
            <hr>
            {% for comment in details.comments.all %}
            <div>
                <p>{{ comment.comment_date }}</p>
                <p>{{ comment.comment_body }}</p>
            </div>
            <hr>
            {% empty %}
            <p>댓글이 없습니다.</p>
            {% endfor %}
        </div>
    </div>
    <script> document.querySelector('.like-button').addEventListener('click', (e) => { e.currentTarget.classList.toggle('liked'); });
        </script>
</center>
{%endblock%}