{%extends 'base.html'%}

{% block content %}

<style>
    .like-button {
        display: inline-block;
        position: relative;
        font-size: 15px;
        cursor: pointer;
        float: center;
    }

    .like-button::before {
        font-size: 3em;
        color: rgb(211, 194, 173);
        content: '♥';
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .like-button::after {
        font-size: 3em;
        color: #F15F5F;
        content: '♥';
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
        transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s;
    }

    .like-button.liked::after {
        -webkit-transform: translate(-50%, -50%) scale(1.1);
        transform: translate(-50%, -50%) scale(1.1);
    }

    .form-control:focus {
        border-color: #E6DFD5;
        color: #495057;
        background-color: #fff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem #E6DFD5;
    }
</style>




    <br><br><br><br>

    <div class="container">

        <div class="card">

            <div class="card-body" style="border:3px solid #D0C3B4; ">

                <h2 class="card-title" style="float:left;">&nbsp;&nbsp;{{details.title}}</h2>
                <p style="text-align: right;">작성자: {{details.author}} &nbsp; 조회수: {{details.hits}}</p>
                <small style="float:right;">{{details.pub_date}}</small>
                <br>
                <hr>

                <br><br>
                <p style="float:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{details.context}}</p>
                <br><br><br>
                <img src="{{ details.image.url }}" alt="" style=" width:70%; height:auto;">
                <br>


                <!-- 조회수 증가 -->
                {{details.update_counter_hit}}


                <hr>
                <br>
                {% if user in details.like_users.all %}
                <a href="{% url 'like' details.id %}">좋아요 취소</a>
                {% else %}
                <a href="{% url 'like' details.id %}">좋아요</a>
                {% endif %}
                <br>
                {{ details.like_users.count }} 명이 좋아합니다.

                <!--하트 버튼-->

                <!-- <button class="like-button"></button>  하트 눌러진 총 갯수 보이게 하면 어떨까염-->
                <br>
                <div class="clearfix">
                    <a class="btn btn-light right" href="{%url 'board'%}">목록</a>
                    {% if user == details.author %}
                    <a class="btn btn-light right" href="{% url 'delete' details.id %}"> 삭제 </a>
                    <a class="btn btn-light right" href="{% url 'update' details.id %}"> 수정 </a>
                    {% endif %}
                </div>

            </div>
        </div>
        <br>
        <form action="{% url 'comment_write' details.id%}" method="POST" class="form-row">
            {% csrf_token %}
            <div class="col">
                <input type="text" name="content" class="form-control" placeholder="댓글을 입력해주세요.">
            </div>
            <div class="col">
                <input class="btn btn-light" type="submit" value="확인" style="float:right;">
            </div>
        </form>
        <br> <br>
        <div>
            {% for comment in details.comments.all %}
            <br>
            <p style="color:gray;">
                <small style="float:left;"> <i>{{ comment.author }}</i></small>
                <small style="float: right;">
                    {{ comment.comment_date }}
                </small></p>
            <br>
            <h5 style="text-align: left;"> {{ comment.comment_body }}</h5>

            {% if user == comment.author %}
            <a href="{% url 'comment_delete' comment.id %}"> 삭제 </a>
            {% endif %}
            <hr>


            {% empty %}
            <p>댓글이 없어요.. ㅠㅠ</p>
            {% endfor %}
        </div>



        <script> document.querySelector('.like-button').addEventListener('click', (e) => { e.currentTarget.classList.toggle('liked'); });
        </script>
{%endblock%}

<!—디테일—>