<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>글 입력창</title>
    <style>
        #A {
            background-color: burlywood;
            font-family: '맑은 고딕';
            text-align: center;
        }
    </style>
</head>

<body id="A">
    <center>
        <pre>
        </pre>

        <div class="container">

            <form action="{% url 'create' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div style="border: 1px;">
                        <label for="month">달: </label>
                        <select name="month" id="month">
                            <option value="January">1월</option>
                            <option value="February">2월</option>
                            <option value=" March">3월</option>
                            <option value="April">4월</option>
                            <option value="May">5월</option>
                            <option value="June">6월</option>
                            <option value="July">7월</option>
                            <option value="August">8월</option>
                            <option value="September">9월</option>
                            <option value="October">10월</option>
                            <option value="November">11월</option>
                            <option value="December">12월</option>
                        </select>

                        <label for="date">날짜: </label>
                        <select name="month" id="month">
                            <option value="first">1일</option>
                            <option value="second">2일</option>
                            <option value="thired">3일</option>
                            <option value="fourth">4일</option>
                            <option value="fiveth">5일</option>
                            <option value="sixth">6일</option>
                            <option value="seventh">7일</option>
                            <option value="eighth">8일</option>
                            <option value="ninth">9일</option>
                            <option value="tenth">10일</option>
                            <option value="eleventh">11일</option>
                            <option value="twelveth">12일</option>
                            <option value="thirteenth">13일</option>
                            <option value="fourteenth">14일</option>
                            <option value="fifteenth">15일</option>
                            <option value="sixteenth">16일</option>
                            <option value="seventeenth">17일</option>
                            <option value="eighteenth">18일</option>
                            <option value="ninteenth">19일</option>
                            <option value="twentyth">20일</option>
                            <option value="twentyfirst">21일</option>
                            <option value="twentysecond">22일</option>
                            <option value="twentythird">23일</option>
                            <option value="twentyfourth">24일</option>
                            <option value="twentyfifth">25일</option>
                            <option value="twentysixth">26일</option>
                            <option value="twentyseventh">27일</option>
                            <option value="twentyeighth">28일</option>
                            <option value="twentyninth">29일</option>
                            <option value="thirtyth">30일</option>
                            <option value="thirtyfirst">31일</option>
                        </select>
                    </div>
                </div>
                <br>
                <table>
                    {{form.as_table}}
                </table>

                <input class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" type="submit"
                    value="등록">
            </form>

        </div>

    </center>
</body>

</html>