{%extends 'base.html'%}

{% block content %}
<style>
    #board-container {
    margin:auto;
    width: 700px;
    padding: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    border:3px solid #D0C3B4; 
    border-radius: 20px;
}

  #board-sidebar {
    justify-content: center;
    justify-content: space-around;
    margin-right: 50px;
    position: relative;
  }
  #board-footer {
        clear: both;
        padding: 20px;
        border: 1px solid #bcbcbc;
      }
  @media ( max-width: 480px ) {
    #board-container {
      width: auto;
     
    }
    #board-sidebar {
      float: none;
      width: auto;

    }
  }
</style>

<body>
<div id="board-container">
  <div id="board-header">
  </div>
 
  <div id="board-sidebar">
              <!--버튼 변경(양소)-->
              <div class="clearfix">
                <p  style="margin-left:60px; color: rgb(125, 105, 92); font-size: 30px;">게시판에 추가하세요!</p>
              </div>
            <!--<div class="clearfix">  <a class="btn btn-info left" href="{% url 'cal:calendar' %}"> Calendar </a> </div>-->
      {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      {{ field.label }} <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  {{ field.label }} <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}

      <form method="post">
        {% csrf_token %}
        <table class="form form-table">
          {{ form }}
        <br><tr><td colspan="2"><br>
          </div>
          <button type="submit" class="btn btn-light right"> Submit </button></td></tr>
        </table>
      </form>
      </div>
</div>
</body>
</html>
{%endblock%}