<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>글 입력창</title>
    <style>
        #A {
            background-color: burlywood;
            font-family: '맑은 고딕';
            text-align: center;
        }
    </style>
</head>

<body id="A">
    <center>
        <pre>
        </pre>

        <div class="container">

            <form action="{% url 'new' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>

                <input class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" type="submit"
                    value="등록">
            </form>

        </div>

    </center>
</body>

</html>