<div id="content">
        <h1>Blog Search</h1>
    
        <form method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" value="Search">
        </form>
    
        <br><br>
    
        {% if object_list %}
            {% for post in object_list %}
                <h2><a href="{{post.get_absolute_url}}">{{ post.title }}</a></h2>
                {{ post.created_at|date:'N d, Y' }}
                <p>{{ post.context }}</p>
            {% endfor %}
        {% elif search_term %}
            <b><i>Search Word({{ search_term }}) Not Found !</i></b>
        {% endif %}
    </div>
    