{%extends 'base.html'%}
{% block content %}
  
<style>
    .share-page{
        margin: 3% 10% 3% 10%;
        padding: 5% 10% 5% 10%;
        border: 5px solid #E6DFD5;
        border-radius: 10px;
        text-align: center;
    }
    p{
        font-size: 20px;
    }
    #source{
        font-size: 18px;
        color: gray;
    }
    #source a{
        font-size: 18px;
        color: gray;
    }
</style>
<body>
    <div class="share-page">
        <h1>강아지 보양식 종류 BEST5</h1><br>
        <img src="https://t1.daumcdn.net/cfile/tistory/25145533596D595109" class="img-fluid"><br><br>
        <h3>첫번째, 북어국</h3>
        <p>첫번째 강아지 보양식, 고양이 보양식은 북어국입니다. 북어죽으로해서도 많이 줍니다. 혹시 나혼자살다 보셨나요? 이시언씨가 윤현민씨 강아지들 주려고 북어국을 끓여주는 장면이 나옵니다. 북어 가시가 걸릴까봐 가시도 다 발라줍니다. 북어를 적당량 잘라서 일단 가시들을 제거한 후 물에 불리시면 됩니다. 중요한 것은 염분기를 충분히 제거해줘야 합니다. 거의 반나절~ 하루 종일 물에 담궈두는 분들도 계시더라구요. 강아지든 고양이든 염분기는 안됩니다. 북어만 끓여줘도 되지만, 계란도 함께 넣어주면 더 맛있는 국이 완성되겠죠? 충분히 식혀서 주시면됩니다. 이것만 내어주셔도 되고, 사료와 함께 섞어서 국밥처럼 만들어 주셔도 된답니다. ^^</p>
        <br><br>    
        <img src="https://t1.daumcdn.net/cfile/tistory/2455C833596D595305" class="img-fluid"><br><br>
            <h3>두번째, 삼계탕</h3>
            <p>두번째 강아지 보양식, 고양이 보양식은 삼계탕입니다. 사람들도 복날에 가장 많이 먹는 음식이죠. 삶은 닭은 모두 좋아하더라구요. 닭의 경우 껍질을 벗기고 깨끗이 씻어서 간하지않고 푹 삶아주시면 됩니다. 그리고 잘게 찢어서 주세요. 고양이는 혀로만 먹기때문에 그럴 일이 잘 없지만, 개는 뼈를 씹어서 부러뜨릴 수 있습니다. 그럼 파편때문에 위험할 수도있고, 단면에 목이 다칠 수 있습니다. 차라리 생닭은 개도 조금씩은 먹어도 된다고 하는데요, 생닭의 뼈는 그렇게 딱딱하지 않아서 통째로 주셔도 됩니다. 하지만 삼계탕으로 만들었다면 잘게 찢어서 주시는 게 좋을 거 같습니다. 닭고기는 소화가 비교적 잘 되는 편이라고 합니다.</p>
            <br><br>
            <img src="https://t1.daumcdn.net/cfile/tistory/22456233596D59543C" class="img-fluid"><br><br>
        <h3>세번째, 미역국</h3>
                <p>세번재 강아지 보양식, 고양이 보양식은 바로 미역국입니다. 출산이후에 해주시는 분들 많으신데요. 미역을 충분히 불러준 후 조리하시면 됩니다. 반려동물들에게는 소고긱 미역국이나 북어미역국으로 많이 해주십니다. 기름을 너무 많이 먹는 것은 안 좋기때문에 참기를을 소량만 두르고 고기를 볶아주시면 됩니다. 물론 사람 먹는것처럼 간장이나 소금을 넣으면 안되겠지요. 미역도 더 잘게잘게 잘라주세요. 식도에 붙으면 안되기때문입니다. 마지막으로 계란도 하나 휘저어서 넣어주는 것도 좋습니다.</p>
                <br><br>
                <img src="https://t1.daumcdn.net/cfile/tistory/27DB5333596D595504" class="img-fluid"><br><br>
            <h3> 네번째, 연어간식/ 연어구이</h3>
             <p>네번재 강아지 보양식, 고양이 보양식은 연어입니다. 보통 강아지들에게는 연어육포, 연어간식으로 많이 주시지요. 집에서 직접 연어를 말려서 간식을 만드시는 분들도 많은 걸로 알고 있습니다. 고양이는 보통 딱딱한 간식을 먹진 않기 때문에, 익혀서 주세요. 간하지않고 적은기름으로 만든 연어구이는 참 좋아하더라구요. 물론 견차 냥차가 있겠지만요.</p>    
             <br><br>
             <img src="https://t1.daumcdn.net/cfile/tistory/27425233596D59563C" class="img-fluid"><br><br>
        <h3>마지막, 삼치구이</h3>
        <p>마지막 강아지 보양식, 고양이 보양식은 삼치구이입니다. 역시나 적은 기름을 두르셔야합니다. 요즘은 코코넛오일도 많이 쓰시더라구요. 코코넛오일은 반려동물들에게도 좋다고 합니다. 물론 많이 먹으면 안되지요. 여튼 기름위에 안타게 잘 구워주시기만하면 끝입니다. 역시 익혀준 후에 가시를 제가하고 주셔야합니다. 삼치는 비교적 가시가 적어서 해체하기 편합니다.</p>
   <br><br>
   <p id="source">출처: <a href="https://mandooya1.tistory.com/12">https://mandooya1.tistory.com/12</a></p>
    </div>
</body>
{% endblock %}