{%extends 'base.html'%}

{% block content %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>댕댕쓰 - 멍멍사전</title>
   <style>

   div {
       float: left;
   }
  
.wrapper {
  width: 350px;
  height: 500px;
  background: #d7ccc8;
  margin: 25px;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
  transform: scale(1);
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
}
.wrapper .container {
  width: 100%;
  height: 100%;
}
.wrapper .container .bottom {
  width: 200%;
  height: 15%;
}
.wrapper .container .bottom.clicked {
  transform: translateX(-50%);
}
.wrapper .container .bottom h1 {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom p {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom .left {
  height: 100%;
  width: 50%;
  background: #efebe9;
  position: relative;
  float: left;
}
.wrapper .container .bottom .left .details {
  padding: 10px;
  float: left;

}
.wrapper .container .bottom .left .buy {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
.wrapper .container .bottom .left .buy i {
  font-size: 30px;
  padding: 30px;
  color: #254053;
  transition: transform 0.5s;
}
.wrapper .container .bottom .left .buy:hover {
  background: #a6cdde;
}
.wrapper .container .bottom .left .buy:hover i {
  transform: translateY(5px);
  color: #00394b;
}
.wrapper .container .bottom .right {
  width: 50%;
  background: #a6cdde;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}
.wrapper .container .bottom .right .details {
  padding: 20px;
  float: right;
  width: calc(70% - 40px);
}
.wrapper .container .bottom .right .done {
  width: calc(30% - 2px);
  float: left;
  transition: transform 0.5s;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
}
.wrapper .container .bottom .right .done i {
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right .remove {
  width: calc(30% - 1px);
  clear: both;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
  background: #bc3b59;
  transition: transform 0.5s, background 0.5s;
}
.wrapper .container .bottom .right .remove:hover {
  background: #9b2847;
}
.wrapper .container .bottom .right .remove:hover i {
  transform: translateY(5px);
}
.wrapper .container .bottom .right .remove i {
  transition: transform 0.5s;
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right:hover .remove, .wrapper .container .bottom .right:hover .done {
  transform: translateY(-100%);
}
.wrapper .inside {
  z-index: 9;
  background: rgb(231, 221, 210);
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 1s, top 1s;
  overflow: hidden;
}
.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}
.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;

  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}
.wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}
.wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
  color: white;
}
.wrapper .inside .contents p {
  font-size: 13px;
}
.top{
    height: 82.7%;
}

.wrapper>.container{
    background-color: white;
    border: 4px solid rgb(231, 221, 210);
}

#sources{
    color: rgb(164, 153, 140);
    text-align: center;
}


.contents{
    line-height: 20%;
    overscroll-behavior: contain;
}

.contents h5{
    line-height: 150%;
    text-indent: 15px;
}

@media screen and (min-width: 865px)  {
  center{
    width: 100%;
    padding-right: 100px;
    padding-left: 275px;
    margin-right: auto;
    margin-left: auto;
    }  

}

   </style> 
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
<body>

<script>
alert("CTRL + F5를 하여 특정 단어를 검색하세요! Ex) 샤워");
</script>
<br><br>
<hr>
<center>
<div class="wrapper">
        <div class="container">
            
          <div class="top">
              <br><br><br><img src="/static/img/charity.png" width="70%" height="55%"/>
        </div>
          <div class="bottom">
            <div class="left">
              <div class="details">
                <h3>#출산 #새끼</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="material-icons">search</i></div>
          <div class="contents">
            <table>
              <h4>dddsd</h4>
            </table>
          </div>
        </div>

</div>

      <div class="wrapper">
            <div class="container">
              <div class="top">
                <br><br><br><img src="/static/img/breeding.png" width="80%" height="70%"/>
            </div>
              <div class="bottom">
                <div class="left">
                  <div class="details">
                    <h3>#임신 #교배</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="inside">
              <div class="icon"><i class="material-icons">search</i></div>
              <div class="contents">
                  
                <table>
                  <h5>출산 증상은 아무래도 암컷 강아지의 신체 변화를 들 수 있는데요, 바로 젖꼭지가 커지는 것입니다. 새끼를 낳았을 때 젖을 물려야 하기 때문에 이렇게 변화하는 것입니다. 
                      이외의 행동은 무기력하면서 식욕만 넘쳐나는 것입니다. 
                      마지막으로 동물의 본능에 따라 새끼를 지켜야 하기 때문에 자신의 영역을 만들고 지키려는 행동을 보입니다. 그리고  교배 2주 후부터는 사람과 같이 입덧이라는 강아지출산증상이 생기는데요. 입덧이 오게 되면 입맛이 떨어지고, 밥을 잘 먹지 못하게 되어 영양을 챙겨주셔야 하는데요. 영양제를 먹이는 것 보다는 무염치즈나 명치파우더로 칼슘을 보충해주고 바나나, 오이, 브로콜리 등 다양한 채소와 과일이 섞인 특식으로 입맛을 돋아 주시는 것이 좋습니다.</h5>
                </table>
                
              </div>
            </div>
          </div>

              <div class="wrapper">
                    <div class="container">
                      <div class="top">
                            <br><br><br><img src="/static/img/weight-scale (1).png" width="70%" height="60%"/>
                    </div>
                      <div class="bottom">
                        <div class="left">
                          <div class="details">
                            <h3>#비만 #다이어트</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="inside">
                      <div class="icon"><i class="material-icons">search</i></div>
                      <div class="contents">
                        <table>
                          <h5> 손등으로 허리 뒤쪽을 만졌을 때 척추 뼈가 만져지지 않는다면 비만이라고 할 수 있답니다. 따로 통증을 표현하지 않으니 보호자가 주의 깊게 살펴보는 수밖에 없답니다.

                              대표적으로는 당뇨와 관절질환, 심혈관계 질환, 고혈압 등의 질병들을 앓을 수 있습니다. 호흡기계 이상을 경험할 수도 있으며, 대부분의 비만 합병증이 나타난다고 보시면 된다고 해요.</h5>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="wrapper">
                        <div class="container">
                          <div class="top">
                            <br><br><br><img src="/static/img/vaccine.png" width="70%" height="60%"/>
                        </div>
                          <div class="bottom">
                            <div class="left">
                              <div class="details">
                                <h4>#강아지 #분양 #예방접종</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="inside">
                          <div class="icon"><i class="material-icons">search</i></div>
                          <div class="contents">
                            <table>
                              <h4>dddsd</h4>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="wrapper">
                            <div class="container">
                              <div class="top">
                                  <br><br><br><img src="/static/img/grooming (1).png" width="70%" height="60%"/>
                            </div>
                              <div class="bottom">
                                <div class="left">
                                  <div class="details">
                                    <h3>#미용 #애견미용 #털</h3>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="inside">
                              <div class="icon"><i class="material-icons">search</i></div>
                              <div class="contents">
                                <table>
                                  <h4>dddsd</h4>
                                </table>
                              </div>
                            </div>
                          </div>
                          <div class="wrapper">
                                <div class="container">
                                  <div class="top">
                                      <br><br><br><img src="/static/img/poop.png" width="70%" height="60%"/>
                                </div>
                                  <div class="bottom">
                                    <div class="left">
                                      <div class="details">
                                        <h3>#똥 #배변 #소변</h3>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="inside">
                                  <div class="icon"><i class="material-icons">search</i></div>
                                  <div class="contents">
                                    <table>
                                      <h4>dddsd</h4>
                                    </table>
                                  </div>
                                </div>
                              </div>
                          <div class="wrapper">
                                <div class="container">
                                  <div class="top">
                                    <br><br><br><img src="/static/img/old-english-sheepdog.png" width="70%" height="60%"/>
                                </div>
                                  <div class="bottom">
                                    <div class="left">
                                      <div class="details">
                                        <h4>#노견 #나이 #노안 #늙음</h4>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="inside">
                                  <div class="icon"><i class="material-icons">search</i></div>
                                  <div class="contents">
                                    <table>
                                      <h4>dddsd</h4>
                                    </table>
                                  </div>
                                </div>
                              </div>
                              <div class="wrapper">
                                    <div class="container">
                                      <div class="top">
                                          <br><br><br><img src="/static/img/pet-shampoo.png" width="70%" height="60%"/>
                                    </div>
                                      <div class="bottom">
                                        <div class="left">
                                          <div class="details">
                                            <h3>#샤워 #목욕 #씻기</h3>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="inside">
                                      <div class="icon"><i class="material-icons">search</i></div>
                                      <div class="contents">
                                        <table>
                                          <h5>강아지는 모공이 넓어 유해성분 또한 흡수가 잘 됩니다. 때문에 샤워를 할때 여러 가지를 조심해 주셔야 한다는 것입니다.

                                              소형견의 경우 일주일에서 열흘에 한번 정도, 대형견의 경우 한 달에 한번이 적당합니다. 피부병을 가지고 있는 강아지라면 맞는 약용 샴푸로 목욕 횟수를 늘려주시는 것이 좋습니다.
                                              
                                              물의 온도도 정말 중요하게 작용을 하는데요. 너무 높거나 낮은 온도의 물은 강아지에게 자극적이어서 부정적인 인식을 만들어 주기 쉽습니다.
                                              
                                              그리고 샴푸를 묻히고 장시간 유지를 하면 피부에 자극이 가 피부병이 생길 수 있어 바로 바로 씻겨주시는 것이 좋습니다.</h5>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="wrapper">
                                        <div class="container">
                                          <div class="top">
                                              <br><br><br><img src="/static/img/veterinary.png" width="70%" height="60%"/>
                                        </div>
                                          <div class="bottom">
                                            <div class="left">
                                              <div class="details">
                                                <h4>#병 #아픔 #아프다 #병원</h4>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="inside">
                                          <div class="icon"><i class="material-icons">search</i></div>
                                          <div class="contents">
                                            <table>
                                              <h4>dddsd</h4>
                                            </table>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="wrapper">
                                            <div class="container">
                                              <div class="top">
                                                  <br><br><br><img src="/static/img/pillow.png" width="70%" height="60%"/>
                                            </div>
                                              <div class="bottom">
                                                <div class="left">
                                                  <div class="details">
                                                    <h3>#수면 #잠</h3>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="inside">
                                              <div class="icon"><i class="material-icons">search</i></div>
                                              <div class="contents">
                                                <table>
                                                  <h4>dddsd</h4>
                                                </table>
                                              </div>
                                            </div>
                                          </div>

                                          <div class="wrapper">
                                                <div class="container">
                                                  <div class="top">
                                                    <br><br><br><br><img src="/static/img/pet-food.png" width="60%" height="60%"/>
                                                </div>
                                                  <div class="bottom">
                                                    <div class="left">
                                                      <div class="details">
                                                        <h3>#간식 #식사</h3>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="inside">
                                                  <div class="icon"><i class="material-icons">search</i></div>
                                                  <div class="contents">
                                                    <table>
                                                      <h5>강아지들의 사료가 대부분 건식이기 때문에 습도와 온도 변화에 따라 쉽게 상하거나 곰팡이가 생길 수도 있습니다. 때문에 이런 부분에 있어서 더욱 더 조심을 해주셔야 하는데요.

                                                          우선 가장 중요하게 생각을 해주셔야 하는 것은 바로 온도조절입니다. 온도는 15~30도 습도는 50~70%에 맞춰주시는 것이 좋은데요. 보관기간은 한달 내외로 직사광선을 피해주시는 것이 좋습니다. 또한 건사료의 경우 포장이 되어있는 상태 그대로보관을 해주시는 것이 강아지 사료보관법의 좋은 예시입니다. </h5>
                                                    </table>
                                                  </div>
                                                </div>
                                              </div>

                                              <div class="wrapper">
                                                    <div class="container">
                                                      <div class="top">
                                                          <br><br><br><img src="/static/img/walking-the-dog.png" width="70%" height="60%"/>
                                                    </div>
                                                      <div class="bottom">
                                                        <div class="left">
                                                          <div class="details">
                                                            <h3>#산택 #운동 #동반산책</h3>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="inside">
                                                      <div class="icon"><i class="material-icons">search</i></div>
                                                      <div class="contents">
                                                        <table>
                                                          <h4>dddsd</h4>
                                                        </table>
                                                      </div>
                                                    </div>
                                                  </div>

                                                  <div class="wrapper">
                                                      <div class="container">
                                                        <div class="top">
                                                            <br><br><br><img src="/static/img/female.png" width="70%" height="60%"/>
                                                      </div>
                                                        <div class="bottom">
                                                          <div class="left">
                                                            <div class="details">
                                                              <h3>#암컷 #생리</h3>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="inside">
                                                        <div class="icon"><i class="material-icons">search</i></div>
                                                        <div class="contents">
                                                          <table>
                                                            <h5>강아지들은 대개 일년에 두 번에서 세 번 생리를 합니다. 일년에 두 번으로 5개월에서 6개월 간격으로 옵니다. 처음 생리할 때는 보통 6개월에서 12개월 사이에 하며, 소형견일수록 첫 시기가 좀 더 빠르게 오는 편입니다. 통상적으로, 2주에서 3주간 이 시기가 지속되고, 시작이 된 후에는 진하게 피가 비치며, 일주일 정도 시간이 지나면 맑은 선홍색을 띄게 됩니다. 이렇게 처음 시작되면 강아지는 폐경이 없기 때문에 나이가 들어도 지속되고 일생 동안 이 과정을 반복됩니다. 만약 아이들이 생리를 하지 않거나 아니면 3주가 지나도 계속 피를 내비친다면 자궁질환이 생겼을 수도 있기 때문에 검진을 받아보는 것이 좋겠습니다.</h5>
                                                          </table>
                                                        </div>
                                                      </div>
                                                    </div>

                                                    <div class="wrapper">
                                                        <div class="container">
                                                          <div class="top">
                                                              <br><br><br><img src="/static/img/genderless.png" width="70%" height="60%"/>
                                                        </div>
                                                          <div class="bottom">
                                                            <div class="left">
                                                              <div class="details">
                                                                <h3>#중성화 #수술</h3>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="inside">
                                                          <div class="icon"><i class="material-icons">search</i></div>
                                                          <div class="contents">
                                                            <table>
                                                              <h5>첫 번째로는 질병 예방에 좋습니다. 새끼를 낳을 계획이 없는 암컷 반려견의 경우는 난소와 자궁을 없애는 수술을 할 경우 성호르몬 관련 질병인 난소 종양, 자국 축농증, 유선종양 등 수술이 필요한 질환 예방에 크나큰 도움이 되거든요. 
                                                                  두 번째로는 영역 표시나 사람, 혹은 과한 마킹 행위나 공격성이 크게 줄어든다는 이점이 있습니다.  
                                                                  세 번째로는 잘 지내던 반려견이 어느 날 열려있는 문을 통해 가출했다? 그렇다면 90% 이상은 중성화가 진행되지 않은 상태입니다. 암컷 개가 발정기 일 때 발산하는 냄새는 수 킬로미터까지 퍼져 제때 짝짓기를 하지 못한 수컷이 과민 반응을 보입니다. 최악의 경우는 가출을 하는 비극도 벌어지기 때문인데요. 이로 인해 강아지들도 보호자들에게도 스트레스가 있을 수 있어 
                                                                  수술로 자유로움을 안겨줄 수 있습니다.</h5>
                                                            </table>
                                                          </div>
                                                        </div>
                                                      </div>

                                                      <div class="wrapper">
                                                          <div class="container">
                                                            <div class="top">
                                                                <br><br><br><img src="/static/img/no-pets.png" width="70%" height="60%"/>
                                                          </div>
                                                            <div class="bottom">
                                                              <div class="left">
                                                                <div class="details">
                                                                  <h3>#금지음식 #주의 #경고</h3>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <div class="inside">
                                                            <div class="icon"><i class="material-icons">search</i></div>
                                                            <div class="contents">
                                                              <table>
                                                                <h5>초콜릿에는 카페인과 같은 메탈수 성분을 함유하고있어 강아지에게 독이 될 수 있다는 사실! 또한,
                                                                    
                                                                    개에게는 유당을 분해하는 효소가 부족하기 때문에 우유나 우유로 만든 유제품을 강아지에게 주면 설사와 같은 소화기관 문제를 일으킬 수 있어 유당이 제거된 제품이 아니라면 주지 않는 것이 좋습니다.
                                                                    
                                                                     뼈다귀는 강아지에게 위험하다는 사실, 익힌 뼈는 잘 부서져 소화기관에 상처를 줄 수 있고 숨을 질식시킬 수도 있습니다. 또한 날고기를 그대로 먹을 경우에는 대장균과 살모넬라균 등에 감염될 위험도 크죠. 강아지에게 고기를 주고 싶다면 살점만 발라서 주는 것이 좋습니다.</h5>
                                                              </table>
                                                            </div>
                                                          </div>
                                                        </div>

                                                        
        </center>
        
        <br><br>
        <div id="sources">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</body>


</html>



{% endblock %}



