
{%extends 'base.html'%}

{% block content %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>댕댕쓰 - 멍멍사전</title>
   <style>
   div {
       float: left;
   }
@media screen and (min-width: 640px){ 
  center{
    width: 100%;
    padding-left: 40px;
    
    }  

}  
.wrapper {
  width: 430px;
  height: 500px;
  background: #d7ccc8;
  margin: 25px;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
  transform: scale(1);
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
}
.wrapper .container {
  width: 100%;
  height: 100%;
}
.wrapper .container .bottom {
  width: 200%;
  height: 15%;
}
.wrapper .container .bottom.clicked {
  transform: translateX(-50%);
}
.wrapper .container .bottom h1 {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom p {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom .left {
  height: 100%;
  width: 50%;
  background: #efebe9;
  position: relative;
  float: left;
}
.wrapper .container .bottom .left .details {
  padding: 10px;
  float: left;

}
.wrapper .container .bottom .left .buy {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
.wrapper .container .bottom .left .buy i {
  font-size: 30px;
  padding: 30px;
  color: #254053;
  transition: transform 0.5s;
}
.wrapper .container .bottom .left .buy:hover {
  background: #a6cdde;
}
.wrapper .container .bottom .left .buy:hover i {
  transform: translateY(5px);
  color: #00394b;
}
.wrapper .container .bottom .right {
  width: 50%;
  background: #a6cdde;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}
.wrapper .container .bottom .right .details {
  padding: 20px;
  float: right;
  width: calc(70% - 40px);
}
.wrapper .container .bottom .right .done {
  width: calc(30% - 2px);
  float: left;
  transition: transform 0.5s;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
}
.wrapper .container .bottom .right .done i {
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right .remove {
  width: calc(30% - 1px);
  clear: both;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
  background: #bc3b59;
  transition: transform 0.5s, background 0.5s;
}
.wrapper .container .bottom .right .remove:hover {
  background: #9b2847;
}
.wrapper .container .bottom .right .remove:hover i {
  transform: translateY(5px);
}
.wrapper .container .bottom .right .remove i {
  transition: transform 0.5s;
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right:hover .remove, .wrapper .container .bottom .right:hover .done {
  transform: translateY(-100%);
}
.wrapper .inside {
  z-index: 9;
  background: rgb(231, 221, 210);
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 1s, top 1s;
  overflow: hidden;
}
.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}
.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;

  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}
.wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}
.wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
  color: white;
}
.wrapper .inside .contents p {
  font-size: 13px;
}
.top{
    height: 82.7%;
}

.wrapper>.container{
    background-color: white;
    border: 4px solid rgb(231, 221, 210);
}

#sources{
    color: rgb(164, 153, 140);
    text-align: center;
    float: none;
}
#sources a{
  color: rgb(164, 153, 140);
  text-decoration-line: none;
}


.contents{
    width:430px;
    height:400px;
    line-height: 20%;
    overscroll-behavior: contain;
    overflow-y:scroll; 
}

.contents h3 .contents h5{
    line-height: 150%;
    /*text-indent: 15px;*/
}
.contents h3 {
  color:#767171
}
/*
center{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 150px;
  padding-right: 70px;

}*/
@media(max-width: 750px){
    center{
      padding-left:0px;
    }
    .contents{
      width: 100%;
    line-height: 20%;
    overscroll-behavior: contain;
    overflow-y:scroll; 
  }
  .wrapper{
    width: 108%;
    /*height: 8%;*/
  }

  }
   </style> 
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
<body>
  <center>
  <br><br>
  <div class="wrapper">
          <div class="container">
            <div class="top">
                <br><br><br><img src="/static/img/breeding.png" width="65%" height="60%"/>
          </div>
            <div class="bottom">
              <div class="left">
                <div class="details">
                  <h3>#짝짓기 #교배</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="inside">
            <div class="icon"><i class="material-icons">search</i></div>
            <div class="contents">
              <table>
             
                  <h3>꿀Tip</h3><hr>
                  <h5 style="text-align: left;">
                    강아지들의 생리는 주로 1년에 2번 정도 하는데

                    몇번 하지 않는 대신에 기간을 길게
                    
                    한번 할 때, 2주에서 3주 가량 하는 것이 특징인데요. <br><br>
                    
                    강아지짝짓기는 두 번째 생리를 시작하고,
                    
                    10일 뒤에 해주시는 것이 좋습니다.<br>
                    보통 교배 시간은 대략 10분에서 30분 정도 걸립니다.
                    <br><br>
                 
                    또한 강아지들의 경우 생후 6~8년 이후에는

                    정자와 난자가 노후되어 건강하지 못한

                    2세 강아지를 가질 수 있기 때문에

                    조금이라도 건강할 때 교배를

                    시켜주시는 것이 강아지들에게 좋습니다.



                  </h5>
                 
              </table>
            </div>
          </div>

  </div>

        <div class="wrapper">
              <div class="container">
                <div class="top">
                  <br><br><br><img src="/static/img/charity.png" width="75%" height="70%"/>
              </div>
                <div class="bottom">
                  <div class="left">
                    <div class="details">
                      <h3>#임신 #새끼</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="inside">
                <div class="icon"><i class="material-icons">search</i></div>
                <div class="contents">    
                  <table >
                    <h3>증상</h3> <hr>
                    <h5 style="text-align: left;">
                      1. 암컷의 젖꼭지가 커진다. <br>                           
                      2. 무기력하면서 식욕만 넘쳐난다. <br>
                      3. 자신의 영역을 만들고 지키려는 행동을 보인다.                    
                    </h5>
                    <h3>꿀Tip</h3><hr>
                    <h5 style="text-align: left;">
                        입덧이 오게 되면 따로 영양을 챙겨줘야 합니다. 이때, 칼슘을을 챙겨주고 채소와 과일이 섞인 특식으로 입맛을 돋아 주시는 것이 좋습니다.<br><br>
                        출산 후 4주 정도 관리를 해주시는 것이 좋은데요. 이때는 건강과 함께 심리적 안정, 그리고 새끼들의 건강까지 챙겨주어야 합니다.                     
                      </h5>
                   

                  </table>
                  
                </div>
              </div>
            </div>

                <div class="wrapper">
                      <div class="container">
                        <div class="top">
                              <br><br><br><img src="/static/img/weight-scale (1).png" width="65%" height="60%"/>
                      </div>
                        <div class="bottom">
                          <div class="left">
                            <div class="details">
                              <h3>#비만 #다이어트</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="inside">
                        <div class="icon"><i class="material-icons">search</i></div>
                        <div class="contents">
                          <table>
                              <h3>증상</h3><hr>
                              <h6 style="text-align: left;">
                              1. 손등으로 허리 뒤쪽을 만졌을 때 척추 뼈가 만져지지 않는다면 비만이라고 할 수 있다.     
                              </h6>
                              <h3>꿀Tip</h3><hr>
                              <h5 style="text-align: left;">
                                  따로 통증을 표현하지 않으니 보호자가 주의 깊게 살펴봐야 한답니다.<br><br>
                                  대표적으로는 당뇨와 관절질환, 심혈관계 질환, 고혈압 등의 질병들을 앓을 수 있구요. 호흡기계 이상을 경험할 수도 있고, 대부분의 비만 합병증이 나타난다고 보면 된다고 합니다.  <br>  <br>
                                  수의사랑 상담을 받고 어떤 식으로 운동을 받으면 좋을지를 고민하고 진행하는 것을 권장드립니다. <br>대부분 운동부족으로 나타날 수 있으므로 산책을 더 많이 시켜주는 것이 도움됩니다.<br><br>
                                  특히 관절이 많이 약해진 상태에서는 수영이 제일 좋은 방법입니다.
                                  
                                </h5>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="wrapper">
                          <div class="container">
                            <div class="top">
                              <br><br><br><img src="/static/img/vaccine.png" width="65%" height="60%"/>
                          </div>
                            <div class="bottom">
                              <div class="left">
                                <div class="details">
                                  <h3>#강아지 #예방접종</h3>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="inside">
                            <div class="icon"><i class="material-icons">search</i></div>
                            <div class="contents">
                              <table>
                                 
                                  <h3>꿀Tip</h3><hr>
                                  <h5 style="text-align: left;">
                                    종합백신 (DHPPL) 은,

                                    홍역과 전염성 간염, 아데노바이러스성 기관지염,
                                    
                                    파보바이러스 장염, 파라인플루엔자성 기관지염 및 렙토스피라증 등의
                                    
                                    질병을 예방해 주는 가장 중요한 예방접종이에요.
                                    
                                    
                                    
                                    생후 6~8주부터 시작하여 2~3주 간격으로 
                                    
                                    5회 이상 접종해주어야 하고,
                                    
                                    매년마다 1회 추가접종을 합니다 <br><br>
                                    코로나 장염 예방접종은,

                                    코로나 바이러스성 장염으로 혈변을 하거나 구토를 하고

                                    열이나고 식욕이 없어지는 증세를 보여요.

                                    강아지들에게는 치명적인 전염병이라고 해요.

                                    생후 6~8주부터 2~3주 간격으로 3회 접종하며 

                                    매년 1회 추가접종을 실시합니다.<br><br>

                                    넬코프 예방접종이에요.



                                    주로 우리 강아지들이 대량으로 있는 곳에서 발생해요

                                    켄넬코프에 걸리게 되면 마른 기침을 하고

                                    폐렴으로 진행되기도 합니다.



                                    생후 6~8주부터 2~3주 간격으로 3회 접종하며 

                                    6개월마다 환절기가 오기 전에 추가접종을 해주어야해요
                                    <br><br>
                                    광견병은 생후 3개월 이상 된 강아지에게 

                                    1회 접종한 후에 6개월 후

                                    재접종을 해주어야합니다.

                                    그 후 다른 예방주사와 같이 

                                    매년 추가접종을 해주어야 해요.






                                    
                                    </h5>
                                 
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="wrapper">
                              <div class="container">
                                <div class="top">
                                    <br><br><br><img src="/static/img/family.png" width="65%" height="60%"/>
                              </div>
                                <div class="bottom">
                                  <div class="left">
                                    <div class="details">
                                      <h3>#가족 #입양</h3>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="inside">
                                <div class="icon"><i class="material-icons">search</i></div>
                                <div class="contents">
                                  <table>
                                        
                                    
                                      <h3>꿀Tip</h3><hr>
                                      <h5 style="text-align: left;">
                                        강아지를 입양하기 전 가장 중요하게 따져야 하는 것은

                                        자신이 강아지를 입양한 후에 제대로 케어를 할 수 있는지 인데요.<br><br>
                                        가장 기본적으로 다루어지는 강아지와의 시간이 적을 경우

                                        강아지를 제대로 케어 할 수 없는 것으로

                                        강아지를 키우는 것을 다시 한번 생각해 보시는 것이 좋습니다.
                                        <br><br>
                                        <font size=3.5px;>
                                        ① 탁하지 않고 또렷하게 보이는지 눈을 확인한다. <br>
                                        ② 촉촉한 코를 가지지 않았다면 질병을 가지고 있을 수 있기에 촉촉한 코를 가졌는지 확인한다.<br>
                                        ③ 귀를 겉면과 속 꼼꼼하게 확인한다.<br>    
                                        ④ 전체적인 피부를 체크한다. </font>                       
                                        </h5>
                                     
                                  </table>
                                </div>
                              </div>
                            </div>
                            <div class="wrapper">
                                  <div class="container">
                                    <div class="top">
                                        <br><br><br><img src="/static/img/poop.png" width="65%" height="60%"/>
                                  </div>
                                    <div class="bottom">
                                      <div class="left">
                                        <div class="details">
                                          <h3>#똥 #배변훈련</h3>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="inside">
                                    <div class="icon"><i class="material-icons">search</i></div>
                                    <div class="contents">
                                      <table>
                                          
                                          <h3>꿀Tip</h3><hr>
                                          <h5 style="text-align: left;">
                                            처음 새끼강아지 배변훈련을 하실 때

                                            장소는 어둡고 조용하며, 구석진
                                            
                                            자리로 마련해 주시는게
                                            
                                            적응하기에 훨씬 빠릅니다.
                                            <br><br>
                                            배변훈련에 성공했을 때

                                            강아지에게 칭찬을 해주시거나,

                                            간식을 주는등 보상을 해주신다면

                                            배변을 더욱 더 잘 보게 되니

                                            칭찬을 해주시면 효과가 있어요.
                                            <br><br>
                                            그 외에도 강아지 배변훈련을 하실때

                                            배변판을 깊이가 충분히 있고,

                                            강아지가 사용하기에 편한 배변판을

                                            사용해 주시는 것도

                                            많은 도움이 된답니다.


                                            </h5>
                                         
                                      </table>
                                    </div>
                                  </div>
                                </div>
                            <div class="wrapper">
                                  <div class="container">
                                    <div class="top">
                                      <br><br><br><img src="/static/img/old-english-sheepdog.png" width="65%" height="60%"/>
                                  </div>
                                    <div class="bottom">
                                      <div class="left">
                                        <div class="details">
                                          <h4>#노견 #나이 #노화 </h4>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="inside">
                                    <div class="icon"><i class="material-icons">search</i></div>
                                    <div class="contents">
                                      <table>
                                          <h3>증상</h3> <hr>
                                          <h5 style="text-align: left;">
                                            1. 눈이 탁해진다 <br>
                                            2. 모발이 옅어지고, 하얀 털이 난다.<br>
                                            3. 수컷의 배뇨지세가 달라진다.        <br>    
                                            4. 식욕이 줄어든다.         <br>
                                            5. 누워서 시간을 보내거나 자는시간이 늘어난다.
                                          </h5>
                                          <h2>꿀Tip</h2><hr>
                                          <h5 style="text-align: left;">
                                            되도록이면 단이 있는 부분은

                                           다칠 위험이 있기 때문에
                                            
                                            없애주시는 게 좋습니다.<br><br>
                                            
                                            또한 마룻바닥이라면 미끄러지기 쉬우므로
                                            
                                            카펫을 깔아서 미끄러지지 않도록
                                            
                                            하는 것을 권해드립니다. <br><br>
                                            
                                             
                                            
                                            또한 통증을 유발할 수 있는 증상들이

                                            몇몇 있기 때문에 산책하기를

                                            거부한다면 시키지 않아야 하고,

                                            자신의 감각기능 저하로 인해

                                            불안해 하고 있을 반려동물을 위하여

                                            계속해서 말을 걸어주는 것이

                                            노견관리에 좋습니다.<br><br>

                                            

                                            그리고 기생충체크는 당연히

                                            자주자주해주는 것이 반려의 몸 상태를

                                            체크하기에 좋은데요.<br><br>
                                            또한 위장기능이 저하되면

                                            구토 등의 증상이 나타나는데요.

                                            소화흡수가 잘 되는 식사를 제공하고,

                                            강아지에게 맞는 사료를 조금씩 급여합니다.<br><br>

                                            그 외에도 감염의 위험에서 벗어나기 위해

                                            몸을 청결하게 유지시켜주는 것이 좋은데요.

                                            목욕을 자주 할 수 없다면 뜨거운 물에

                                            적신 수건으로 몸을 닦아주고,

                                            특히 엉덩이 부분은 더욱 청결하게

                                            관리해 주는 것이 좋습니다.


                                            </h5>
                                         
                                      </table>
                                    </div>
                                  </div>
                                </div>
                                <div class="wrapper">
                                      <div class="container">
                                        <div class="top">
                                            <br><br><br><img src="/static/img/pet-shampoo.png" width="65%" height="60%"/>
                                      </div>
                                        <div class="bottom">
                                          <div class="left">
                                            <div class="details">
                                              <h3>#샤워 #목욕 #씻기</h3>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="inside">
                                        <div class="icon"><i class="material-icons">search</i></div>
                                        <div class="contents">
                                          <table>
                                              <h3>꿀Tip</h3><hr>
                                              <h5 style="text-align: left;">
                                                  강아지는 모공이 넓어 유해성분 또한 흡수가 잘되기에샤워를 할때 조심해 주셔야 한답니다. <br><br>

                                                  소형견의 경우 일주일에서 열흘에 한번 정도, 대형견의 경우 한 달에 한번이 적당해요. 피부병을 가지고 있는 강아지라면 맞는 약용 샴푸로 목욕 횟수를 늘려주시는 것이 좋습니다.<br><br>
                                                  
                                                  물의 온도 또한 너무 높거나 낮은 온도의 물은 강아지에게 자극적이어서 부정적인 인식을 만들어 주기 쉽습니다.<br>
                                                  
                                                  그리고 샴푸를 묻히고 장시간 유지를 하면 피부에 자극이 가 피부병이 생길 수 있어 바로 바로 씻겨주시는 것을 권장하구요.<br>    <br>
                                                  목욕을 다 하고 난 후에는 털을 말릴 때, 드라이기로 다 말리려고 생각을 하기 보다는 타월을 이용해 털을 부드럽게 짜며, 최대한 물기를 제거해주시는 것이 우선이라고 합니다. <br>그 후 드라이기를 사용해서 너무 뜨거운 온도의 바람으로 털을 말리기 보다는 적당한 온도와 바람세기로 털을 말려주셔야 합니다.
                                                </h5>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="wrapper">
                                          <div class="container">
                                            <div class="top">
                                                <br><br><br><img src="/static/img/treats.png" width="65%" height="60%"/>
                                          </div>
                                            <div class="bottom">
                                              <div class="left">
                                                <div class="details">
                                                  <h4>#간식 #냠냠</h4>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="inside">
                                            <div class="icon"><i class="material-icons">search</i></div>
                                            <div class="contents">
                                              <table>
                                                
                                                  <h3>꿀Tip</h3><hr>
                                                  <h5 style="text-align: left;">
                                                    강아지들이 정말 좋아하는 음식인 고구마입니다.

                                                    고구마는 달달한 맛으로 겨울 철 사람들도 즐겨 먹는 간식인데요.
                                                    
                                                    삶거나 말린 고구마는 강아지들의 변비를 예방하고,
                                                    
                                                    피부와 모질을 개선해주며 장 건강과 시력을 강화해 주는
                                                    
                                                    굉장히 좋은 간식이기도 합니다.<br>
                                                    과다 섭취하게 될 경우

                                                    당분으로 인해 비만이 되기 쉬우며 설사를 할 수도 있어

                                                    적절한 양을 지켜서 급여를 해주셔야 합니다.<br><br>
                                                    두번째는 두부입니다.

                                                    두부는 80% 이상이 수분으로 이루어져 있어

                                                    포만감을 주는 것은 물론이고, 콩으로 만들어진 식품이기에

                                                    단백질이 풍부하고 칼로리가 낮습니다.<br><br>
                                                    다음으로 추천 드리는 강아지간식재료는 호박입니다.

                                                    호박과 단호박은 눈, 관절, 장 활동, 체온, 혈당 등

                                                    여러 가지 효과를 가지고 있는데요.

                                                    고구마와 같이 단 맛을 가지고 있어 강아지들이

                                                    고구마와 함께 좋아하는 음식이기도 합니다.












                                                    
                                                   
                                                    
                                                    
                                                    </h5>
                                                 
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="wrapper">
                                              <div class="container">
                                                <div class="top">
                                                    <br><br><br><img src="/static/img/mask.png" width="65%" height="60%"/>
                                              </div>
                                                <div class="bottom">
                                                  <div class="left">
                                                    <div class="details">
                                                      <h3>#입마개 #산책매너</h3>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="inside">
                                                <div class="icon"><i class="material-icons">search</i></div>
                                                <div class="contents">
                                                  <table>
                                                      
                                                      <h3>꿀Tip</h3><hr>
                                                      <h5 style="text-align: left;">
                                                        강아지들은 자신의 감정표현을 말로

                                                        나열해 사람을 설득하거나 소통할 수 없어
                                                        
                                                        자신들의 감정을 짖는 등 행동으로 표현을 하게 되는데요.
                                                        
                                                        
                                                        
                                                        특히나 사회성이 결여된 강아지들의 경우
                                                        
                                                        짖거나 무는 등 교정해야 할 행동들을 자주 보이곤합니다.
                                                        
                                                        때문에 강아지들에게 입마개를 착용시키는 것이
                                                        
                                                        좋다고 하는 것인데요.
                                                        
                                                        <br><br>
                                                        입마개 또는 머즐이라고도 불리는 이것은

                                                        씌우려고 해도 불편하고 싫기 때문에

                                                        안하려고 하는 강아지들이 정말 많이 있습니다.

                                                        그래서 무조건 착용을 해주는게 아니라

                                                        충분한 훈련을 통해서 착용하는건 나쁜게 아니다 라는

                                                        인식을 심어주면서 불편하지 않게 해주어야 합니다.
                                                        <br><br>
                                                        강아지입마개는 꼭 산책할때만 착용을 하는것은 아니랍니다.

                                                        무는 버릇이 있는 강아지들에게는

                                                        그러한 버릇을 고치기 위할때도 사용을 하고 있습니다.

                                                        훈련이 잘 된다면 무는 버릇을 고칠수가 있죠.

 
                                                        </h5>
                                                     
                                                  </table>
                                                </div>
                                              </div>
                                            </div>

                                            <div class="wrapper">
                                                  <div class="container">
                                                    <div class="top">
                                                      <br><br><br><br><img src="/static/img/pet-food.png" width="55%" height="60%"/>
                                                  </div>
                                                    <div class="bottom">
                                                      <div class="left">
                                                        <div class="details">
                                                          <h3>#사료 #식사</h3>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="inside">
                                                    <div class="icon"><i class="material-icons">search</i></div>
                                                    <div class="contents">
                                                      <table> 
                                                          <h3>꿀Tip</h3><hr>
                                                          <h5 style="text-align: left;">
                                                              강아지들의 사료가 대부분 건식이기 때문에 습도와 온도 변화에 따라 쉽게 상하거나 곰팡이가 생길 수도 있기에 더욱 더 조심을 해주셔야 합니다.
                                                              <br><br>
                                                              우선 가장 중요하게 생각을 해주셔야 하는 것은 바로 온도조절인데요, 온도는 15~30˚ 습도는 50~70%에 맞춰주시는 것이 좋습니다. <br>
                                                              <br>보관기간은 한달 내외로 직사광선을 피해주시는 것이 좋습니다. 또한 건사료의 경우 포장이 되어있는 상태 그대로보관을 해주시는 것이 강아지 사료보관법의 좋은 예시입니다.<br><br>
                                                              사료에는 모두 유통기한이 있고 공기와 접촉을 하는 순간부터 부패가 시작되기 때문에 최대 6개월 안에 모든 사료를 급여해주시는 것이 좋습니다. 
                                                            </h5>
                                                      </table>
                                                    </div>
                                                  </div>
                                                </div>

                                                <div class="wrapper">
                                                      <div class="container">
                                                        <div class="top">
                                                            <br><br><br><img src="/static/img/walking-the-dog.png" width="65%" height="60%"/>
                                                      </div>
                                                        <div class="bottom">
                                                          <div class="left">
                                                            <div class="details">
                                                              <h3>#산책 #운동 #동반산책</h3>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="inside">
                                                        <div class="icon"><i class="material-icons">search</i></div>
                                                        <div class="contents">
                                                          <table>
                                                              
                                                              <h3>꿀Tip</h3><hr>
                                                              <h5 style="text-align: left;">
                                                                강아지운동을 통해 강아지들이 에너지를 소비해 줌으로써

                                                                스트레스도 풀어주고, 운동도 시킬 수 있어
                                                                
                                                                산책은 꼭 시켜주시는 것이 좋은데요.
                                                                
                                                                어린 아이들부터 성견, 그리고 노견에 따라 운동량이
                                                                
                                                                다르게 적용이 되기 때문에 이를 미리 알고
                                                                
                                                                산책을 시켜주시는 것이 좋습니다.<br><br>
                                                               
                                                                어린 강아지들의 경우 생후 1개월령부터

                                                                하루에 두 번 5분씩 산책을 하고, 1개월이 지날 때 마다
                                                                
                                                                5분씩 늘려가는 것을 권장해 드리고 있습니다. <br><br>
                                                                성견의 경우 운동량이 가장 많을 시기로

                                                                매일 최소 30분에서 최대 2시간 정도의 운동을 필요로 합니다.

                                                                그리고 노견의 경우 기본적으로 30분에서 60정도의 운동시간을

                                                                지켜주시는 것이 가장 이상적입니다.
                                                              
                                                                </h5>
                                                             
                                                          </table>
                                                        </div>
                                                      </div>
                                                    </div>

                                                    <div class="wrapper">
                                                        <div class="container">
                                                          <div class="top">
                                                              <br><br><br><img src="/static/img/female.png" width="65%" height="60%"/>
                                                        </div>
                                                          <div class="bottom">
                                                            <div class="left">
                                                              <div class="details">
                                                                <h3>#암컷 #생리</h3>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="inside">
                                                          <div class="icon"><i class="material-icons">search</i></div>
                                                          <div class="contents">
                                                            <table>
                                                                <h3>증상</h3> <hr>
                                                                <h5 style="text-align: left;">
                                                                    1. 일년에 두 번으로 5개월에서 6개월 간격으로 온다. <br>
                                                                    2. 처음 생리할 때는 보통 6개월에서 12개월 사이에 하며, 소형견일수록 첫 시기가 좀 더 빠르게 오는 편이다. <br>
                                                                    3. 보통 2주에서 3주간 이 시기가 지속되고, 시작이 된 이후 시간이 지날수록 선홍색을 띄게 된다.                      
                                                                </h5>
                                                                <h3>꿀Tip</h3><hr>
                                                                <h5 style="text-align: left;">
                                                                    강아지는 폐경이 없기 때문에 나이가 들어도 지속되고 일생 동안 이 과정을 반복한답니다. <br><br>만약 아이들이 생리를 하지 않거나 아니면 3주가 지나도 계속 피를 내비친다면 자궁질환이 생겼을 수도 있기 때문에 검진을 받아보는 것을 추천합니다.<br>
                                                                    <br><br>생후 일년이 지나도 생리를 하지 않는다면 이것도 한번 검진받아보는 것을 권장드립니다. <br><br>피를 비치기 시작하면 보호자는 생식기 주변을 청결이 해주어야 하기에, 부위를 깨끗하게 닦아주고 아이들의 입 주변도 깨끗하게 닦아주는 것이 좋습니다.<br><br> 매번 물로 씻겨 주실 필요까지는 없고, 청결하게 부드러운 거즈나 물티슈로 닦아주면 된답니다.
                                                                  </h5>
                                                            </table>
                                                          </div>
                                                        </div>
                                                      </div>

                                                      <div class="wrapper">
                                                          <div class="container">
                                                            <div class="top">
                                                                <br><br><br><img src="/static/img/genderless.png" width="65%" height="60%"/>
                                                          </div>
                                                            <div class="bottom">
                                                              <div class="left">
                                                                <div class="details">
                                                                  <h3>#중성화 #수술</h3>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <div class="inside">
                                                            <div class="icon"><i class="material-icons">search</i></div>
                                                            <div class="contents">
                                                              <table>
                                                                  <h3>꿀Tip</h3><hr>
                                                                  <h5 style="text-align: left;">
                                                                      중성화는 첫 번째로 질병 예방에 좋습니다. 새끼를 낳을 계획이 없는 암컷 반려견의 경우는 난소와 자궁을 없애는 수술을 할 경우 성호르몬 관련 질병들 중 수술이 필요한 질환 예방에 크나큰 도움이 된답니다. 
                                                                      <br><br>두 번째로는 영역 표시나 사람, 혹은 과한 마킹 행위나 공격성이 크게 줄어든다는 이점이 있습니다.  
                                                                      <br><br>세 번째로는 중성화를 하지 않은 암컷 개가 발정기 일 때 발산하는 냄새는 수 킬로미터까지 퍼져 제때 짝짓기를 하지 못한 수컷이 과민 반응을 보인다는 것입니다. 
                                                                      <br><br>반려견의 앞으로의 삶을 위한 의견이니 보호자들과 의견을 맞추는 게 중요합니다. 또한 수술 전 수의사와 반려견의 나이와 상태를 고려해 충분한 상담이 필요한 것을 인지 한 후 판단하는 게 좋습니다.
                                                                  </h5>
                                                              </table>
                                                            </div>
                                                          </div>
                                                        </div>

                                                        <div class="wrapper">
                                                            <div class="container">
                                                              <div class="top">
                                                                  <br><br><br><img src="/static/img/no-pets.png" width="65%" height="60%"/>
                                                            </div>
                                                              <div class="bottom">
                                                                <div class="left">
                                                                  <div class="details">
                                                                    <h3>#금지음식 #주의 #경고</h3>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <div class="inside">
                                                              <div class="icon"><i class="material-icons">search</i></div>
                                                              <div class="contents">
                                                                <table>
                                                                    
                                                                    <h3>꿀Tip</h3><hr>
                                                                    <h5 style="text-align: left;">
                                                                        초콜릿에는 카페인과 같은 메탈수 성분을 함유하고있어 강아지에게 독이 될 수 있습니다. <br><br>
                                                                      
                                                                        개에게는 유당을 분해하는 효소가 부족하여 우유나 우유로 만든 유제품을 강아지에게 주면 설사와 같은 소화기관 문제를 일으킬 수 있어 유당이 제거된 제품이 아니라면 주지 않는 것이 좋습니다.<br><br>
                                                                        
                                                                        뼈다귀는 강아지에게 위험하다는 사실, 익힌 뼈는 잘 부서져 소화기관에 상처를 줄 수 있고 숨을 질식시킬 수도 있습니다. <br>또한 날고기를 그대로 먹을 경우에는 대장균과 살모넬라균 등에 감염될 위험도 크답니다. <br><br>강아지에게 고기를 주고 싶다면 살점만 발라서 주는 것이 좋습니다.

                                                                    </h5>
                                                                </table>
                                                              </div>
                                                            </div>
                                                          </div>

                                                          
        
  </center>
          <br><br>
          <div id="sources"></p>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  <!--  Scripts-->
  

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>


</html>



{% endblock %}