{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<style>
   .btn {
      background-color: #EAE5DE;
      color: #767171;
    }

    .btn:hover {
      background-color: #D0C3B4;

    }
.form-control:focus{
  border-color: #E6DFD5;
  color: #495057;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #E6DFD5;
}       
</style>
  
<body>
        <div class="login-box">
            <div class="text-center mb-4">
                <div class="login-img">
                    <img src="/static/img/dangdang.png">
                </div>
        
          
                <h1 class="h3 mb-3 font-weight-normal">my page</h1>
               </div>
              
               <a class="btn btn-lg btn-light btn-block" href="{% url 'doginfo' %}">댕댕이정보 수정하기</a> <br>
               
              <div class="form-label-group">
                {% if messages %}
                  <ul class="messages">
                      <br><br>
                 {% for message in messages %}
                  <li class="{{ message.tags }}">{{ message }}</li>
                 {% endfor %}
                 </ul>
                 {% endif %}
                <h5>아이디: {{user.username}}</h5>
                <br>
                <h3>가족코드 : {{user.groupid}}</h3>
              
              
              </div>
              <form method="POST" action="{% url 'mypage'%}"> <!--마이페이지에 전달할 정보입니다. -->
                {% csrf_token %}
              <br>현재 비밀번호
              <div class="form-label-group">
                <input name="password" type="password" class="form-control" value="" required> 
              </div>
              <br>변경 비밀번호
              <div class="form-label-group">
                <input name="newpassword1" type="password" class="form-control" value="" required> 
              </div>

              <div class="form-label-group">
                비밀번호 확인
                <br>
              
                  <input name="newpassword2" type="password" class="form-control" value="" required> 
                </div>
             
              <br>
              
              <button class="btn btn-lg btn-light btn-block" type="submit">비밀번호 변경하기</button>
            </form>
              
                
  
                
    </div>
</div>


{% endblock %}