{%extends 'base.html'%}

{% load staticfiles %}

{% block content %}
<div class="album py-5 bg-light">
   <div class="container">
      <h2>개발자 소개</h2>
      <div class="clearfix">

      </div>
      <div class="row">

         <div class="col-md-4">
            <div class="rounded" style="border: 1px solid #EAE5DE; margin-bottom:20px">
               <div class="card border-light mb-3">
                  <div class="card-header text-center">
                     <h4>김연준</h4>
                  </div>
                  <div class="card-body text-center" style="font-size:10px;">
                     <p class="card-text" style="font-size:20px;"><img src="{% static '/img/kim.jpg' %}" width="70%" alt=""></p>
                     <p class="card-text" style="font-size:20px;">백엔드, DB <br> 컴퓨터공학과 14학번</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="rounded" style="border: 1px solid #EAE5DE; margin-bottom:20px">
               <div class="card border-light mb-3">
                  <div class="card-header text-center">
                     <h4>박현욱</h4>
                  </div>
                  <div class="card-body text-center" style="font-size:10px;">
                     <p class="card-text" style="font-size:20px;"><img src="{% static '/img/wook.png' %}" width="52%"
                           alt=""></p>
                     <p class="card-text" style="font-size:20px;">백엔드, DB <br> 컴퓨터공학과 15학번</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="rounded" style="border: 1px solid #EAE5DE; margin-bottom:20px">
               <div class="card border-light mb-3">
                  <div class="card-header text-center">
                     <h4>이상현</h4>
                  </div>
                  <div class="card-body text-center" style="font-size:10px;">
                     <p class="card-text" style="font-size:20px;"><img src="{% static '/img/sang.jpg' %}" width="70%"
                           alt=""></p>
                           <p class="card-text" style="font-size:20px;">백엔드, DB <br> 컴퓨터공학과 17학번</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="rounded" style="border: 1px solid #EAE5DE; margin-bottom:20px">
               <div class="card border-light mb-3">
                  <div class="card-header text-center">
                     <h4>류영은</h4>
                  </div>
                  <div class="card-body text-center" style="font-size:10px;">
                     <p class="card-text" style="font-size:20px;"><img src="{% static '/img/ryu.jpg' %}" width="70%"
                           alt=""></p>
                           <p class="card-text" style="font-size:20px;">프론트엔드 <br> 전자공학과 18학번</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="rounded" style="border: 1px solid #EAE5DE; margin-bottom:20px">
               <div class="card border-light mb-3">
                  <div class="card-header text-center">
                     <h4>박태영</h4>
                  </div>
                  <div class="card-body text-center" style="font-size:10px;">
                     <p class="card-text" style="font-size:20px;"><img src="{% static '/img/tae.jpg' %}" width="70%"
                           alt=""></p>
                           <p class="card-text" style="font-size:20px;">프론트엔드 <br> IT경영(부 전공: 컴퓨터공학과) 18학번</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="rounded" style="border: 1px solid #EAE5DE; margin-bottom:20px">
               <div class="card border-light mb-3">
                  <div class="card-header text-center">
                     <h4>강희정</h4>
                  </div>
                  <div class="card-body text-center" style="font-size:10px;">
                     <p class="card-text" style="font-size:20px;"><img src="{% static '/img/hee.jpg' %}" width="70%"
                           alt=""></p>
                           <p class="card-text" style="font-size:20px;">백엔드, DB <br> 컴퓨터공학과 17학번</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="rounded" style="border: 1px solid #EAE5DE; margin-bottom:20px">
               <div class="card border-light mb-3">
                  <div class="card-header text-center">
                     <h4>이찬우</h4>
                  </div>
                  <div class="card-body text-center" style="font-size:10px;">
                     <p class="card-text" style="font-size:20px;"><img src="{% static '/img/chan.jpg' %}" width="92%"
                           alt=""></p>
                           <p class="card-text" style="font-size:20px;">백엔드 <br> ICT융합공학과 19학번</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="rounded" style="border: 1px solid #EAE5DE; margin-bottom:20px">
               <div class="card border-light mb-3">
                  <div class="card-header text-center">
                     <h4>양소영</h4>
                  </div>
                  <div class="card-body text-center" style="font-size:10px;">
                     <p class="card-text" style="font-size:20px;"><img src="{% static '/img/yang.jpg' %}" width="70%"
                           alt=""></p>
                           <p class="card-text" style="font-size:20px;">백엔드, DB, 프론트엔드 <br> 컴퓨터공학과 17학번</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <br><br>

   </div>
   {% endblock %}